@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
        <h1 class="display-4">Location(s) Found: @Model.Locations.Count()</h1>
        <ul>
            @foreach (var item in Model.Locations)
            {
                <li><b>"@item.Name"</b> @item.GeoLocation.ToString()</li>
            }
        </ul>
    </div>
